<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="TestNG practice Suite">
        <groups>
            <run>
                <include name="wip"/>
            </run>
        </groups>
        <classes>
            <class name="testng.DDT">
                <methods>
                    <include name="testDdt"/>
                </methods>
            </class>
            <class name="testng.PrePostConditions">
                <methods>
                    <include name="testPrePostConditions"/>
                </methods>
            </class>
            <class name="testng.TestNG">
                <methods>
                    <include name="testEquals"/>
                    <include name="testTrue"/>
                    <include name="testSoft"/>
                    <include name="ignoredTest"/>
                    <include name="groupTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>